In [32]:
import numpy as np

Задание №1

In [2]:
a = np.array([[1, 6],
             [2, 8],
             [3, 11],
             [3, 10],
             [1, 7]])
mean_a = np.mean(a, axis = 0)
print(mean_a)

[2.  8.4]

Задание №2

In [5]:
a_centered = a - mean_a
print(a_centered)

[[-1.  -2.4]
 [ 0.  -0.4]
 [ 1.   2.6]
 [ 1.   1.6]
 [-1.  -1.4]]

Задание №3

In [8]:
a_centered_sp = a_centered.T[0] @ a_centered.T[1]
print(a_centered_sp)

8.0

In [10]:
print(a_centered_sp / (a_centered.shape[0] - 1))

2.0

Задание №4

In [17]:
print(np.cov(a.T)[0, 1])

2.0

Pandas

In [1]:
import pandas as pd

Задание №1

In [5]:
authors = pd.DataFrame({"author_id": [1, 2, 3], "author_name": ["Тургенев", "Чехов", "Островский"]})
print(authors)

   author_id author_name
0          1    Тургенев
1          2       Чехов
2          3  Островский

In [7]:
book = pd.DataFrame({"author_id": [1, 1, 1, 2, 2, 3, 3], "book_title": ['Отцы и дети', 'Рудин', 'Дворянское гнездо', 'Толстый и тонкий', 'Дама с собачкой', 'Гроза', 'Таланты и поклонники'], "price": [450, 300, 350, 500, 450, 370, 290]})
print(book)

   author_id            book_title  price
0          1           Отцы и дети    450
1          1                 Рудин    300
2          1     Дворянское гнездо    350
3          2      Толстый и тонкий    500
4          2       Дама с собачкой    450
5          3                 Гроза    370
6          3  Таланты и поклонники    290

Задание №2

In [12]:
authors_price = pd.merge(authors, book, on="author_id", how="inner")
print(authors_price)

   author_id author_name            book_title  price
0          1    Тургенев           Отцы и дети    450
1          1    Тургенев                 Рудин    300
2          1    Тургенев     Дворянское гнездо    350
3          2       Чехов      Толстый и тонкий    500
4          2       Чехов       Дама с собачкой    450
5          3  Островский                 Гроза    370
6          3  Островский  Таланты и поклонники    290

Задание №3

In [21]:
top5 = authors_price.sort_values(by="price", ascending=False).head(5)
print(top5)

   author_id author_name         book_title  price
3          2       Чехов   Толстый и тонкий    500
0          1    Тургенев        Отцы и дети    450
4          2       Чехов    Дама с собачкой    450
5          3  Островский              Гроза    370
2          1    Тургенев  Дворянское гнездо    350

Задание №4

In [27]:
group = authors_price.groupby("author_name")
authors_stat = group.agg({"price": ["min", "max", "mean"]})
authors_stat = authors_stat.rename(columns={"min": "min_price", "max": "max_price", "mean": "mean_price"})
print(authors_stat)

                price
            min_price max_price  mean_price
author_name
Островский        290       370  330.000000
Тургенев          300       450  366.666667
Чехов             450       500  475.000000

Задание №5

In [30]:
authors_price["cover"] = ['твердая', 'мягкая', 'мягкая', 'твердая', 'твердая', 'мягкая', 'мягкая']
print(authors_price)

   author_id author_name            book_title  price    cover
6          3  Островский  Таланты и поклонники    290  твердая
1          1    Тургенев                 Рудин    300   мягкая
2          1    Тургенев     Дворянское гнездо    350   мягкая
5          3  Островский                 Гроза    370  твердая
0          1    Тургенев           Отцы и дети    450  твердая
4          2       Чехов       Дама с собачкой    450   мягкая
3          2       Чехов      Толстый и тонкий    500   мягкая

In [42]:
book_info = pd.pivot_table(authors_price, values="price", index="author_name", columns="cover", aggfunc=np.sum)
print(book_info)

cover        мягкая  твердая
author_name
Островский      NaN    660.0
Тургенев      650.0    450.0
Чехов         950.0      NaN

In [43]:
book_info.to_pickle("book_info.pkl")

In [44]:
book_info2 = pd.read_pickle("book_info.pkl")

In [45]:
book_info.equals(book_info2)

True